@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  color: #fff;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #141414;
}

.hero_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero_cards > div:last-child {
  grid-column: span 2;
}

.values {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}

@media (min-width: 480px) {
  .values {
    grid-template-columns: repeat(2, 1fr);
  }
}

.values,
.clients,
.findProperty {
  box-shadow: 0 0 0 6px #191919;
}

.about_cards {
  box-shadow: 0 0 0 4px #191919;
}

div:has(> .about_cards),
.profiles,
.property_value,
.siid {
  display: grid;
  grid-template-columns: 1fr;
}

.stepper {
  display: grid;
  grid-template-columns: 1fr;
  align-content: stretch;
}

.stepper > div {
  display: grid;
  grid-auto-rows: auto;
}

.sub_cards {
  box-shadow: inset 0 0 0 4px #262626;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form_grid,
.contact_form_grid {
  display: grid;
  grid-template-columns: 1fr;
}

.office_images {
  display: grid;
  grid-template-areas:
    'officeImg1 officeImg1 officeImg2 officeImg2'
    'officeImg3 officeImg3 officeImg4 officeImg5'
    'component component component component'
    'officeImg6 officeImg6 officeImg6 officeImg6';
}

.office_images img:first-child {
  grid-area: officeImg1;
}

.office_images img:nth-child(2) {
  grid-area: officeImg2;
}

.office_images img:nth-child(3) {
  grid-area: officeImg3;
}

.office_images img:nth-child(4) {
  grid-area: officeImg4;
}

.office_images img:nth-child(5) {
  grid-area: officeImg5;
}

.office_images > :nth-child(6) {
  grid-area: component;
}

.office_images img:last-child {
  grid-area: officeImg6;
}

@media (min-width: 768px) {
  .hero_cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero_cards > div:last-child {
    grid-column: span 1;
  }

  .sub_cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .sub_cards > div:last-child {
    grid-column: span 3;
  }

  .featured,
  .siid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
  }

  div:has(> .about_cards),
  .stepper,
  .profiles,
  .form_grid,
  .contact_form_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .property_value {
    grid-template-columns: 1fr 1fr;
  }

  .property_value div:last-child {
    grid-column: span 2;
  }
}

@media (min-width: 976px) {
  .sub_cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .sub_cards > div:last-child {
    grid-column: span 1;
  }

  div:has(> .about_cards),
  .profiles,
  .form_grid,
  .contact_form_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .property_value {
    grid-template-columns: repeat(3, 1fr);
  }

  .property_value div:nth-child(4) {
    grid-column: span 3;
  }

  .property_value div:last-child {
    grid-column: span 3;
  }

  .contact_form_grid div:last-child {
    grid-column: span 3;
  }

  .office_images {
    grid-template-areas:
      'officeImg1 officeImg1 officeImg2 officeImg2'
      'officeImg3 officeImg3 officeImg4 officeImg5'
      'component component officeImg6 officeImg6';
  }
}

@media (min-width: 1200px) {
  .featured,
  .stepper {
    grid-template-columns: repeat(3, 1fr);
  }

  .profiles,
  .form_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .form_grid div:nth-child(9) {
    grid-column: span 2;
  }

  .form_grid div:last-child {
    grid-column: span 4;
  }

  .property_value {
    grid-template-columns: repeat(3, 1fr);
  }

  .property_value div:nth-child(4) {
    grid-column: span 1;
  }

  .property_value div:last-child {
    grid-column: span 2;
  }
}

.steps_num {
  background: linear-gradient(to bottom left, #141414 80%, rgba(112, 59, 247, 0.4) 100%);
}

.steps {
  background: linear-gradient(to top left, #141414 80%, rgba(112, 59, 247, 0.4) 100%);
}

.hero {
  background-image: linear-gradient(to left, #1a1a1a 60%, #262626 100%);
}

input[type='checkbox'] {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #262626;
  position: relative;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('/checkmark.png');
  background-size: contain;
  background-repeat: none;
  display: none;
}

input[type='checkbox']:checked::before {
  display: block;
}

.navSlide {
  transition: transform 500ms ease-in-out;
}
